In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://redplanetscience.com"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
elements = soup.find_all('div', class_="list_text")

In [6]:
news = []
for item in elements:
    title = item.find("div", class_="content_title").text
    preview = item.find("div", class_="article_teaser_body").text
    news_dict = {}
    news_dict["title"] = title
    news_dict["preview"] = preview
    news.append(news_dict)

In [7]:
news

[{'title': "InSight's 'Mole' Team Peers into the Pit",
  'preview': 'Efforts to save the heat probe continue.'},
 {'title': 'Naming a NASA Mars Rover Can Change Your Life',
  'preview': 'Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.'},
 {'title': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors",
  'preview': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'},
 {'title': 'NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch',
  'preview': 'There are lots of ways to participate in the historic event, which is targeted for July 30.'},
 {'title': "NASA's New Mars Rover Will Use X-Rays to Hunt Fossils",
  'preview': "PIXL, an instrument on the end of the Perseverance rover's arm, will search for chemical fingerprints left by ancient microbes."},
 {'title': "NASA's Perseverance Rover Will Peer Beneath Mars' Surface ",
  'preview': "The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "},
 {'title': 'Mars Is Getting a New Robotic Meteorologist',
  'preview': "Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles."},
 {'title': "NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause",
  'preview': "Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold."},
 {'title': "NASA's MAVEN Explores Mars to Understand Radio Interference at Earth",
  'preview': 'NASA’s MAVEN spacecraft has discovered “layers” and “rifts” in the electrically charged part of the upper atmosphere of Mars.'},
 {'title': 'Global Storms on Mars Launch Dust Towers Into the Sky',
  'preview': 'A Mars Dust Tower Stands Out Dust storms are common on Mars. But every decade or so, something unpredictable happens: a series of runaway storms break out, covering the entire planet in a dusty haze.'},
 {'title': "NASA Readies Perseverance Mars Rover's Earthly Twin ",
  'preview': "Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."},
 {'title': "NASA's New Mars Rover Is Ready for Space Lasers",
  'preview': 'Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.'},
 {'title': "How NASA's Mars Helicopter Will Reach the Red Planet's Surface",
  'preview': 'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'},
 {'title': 'MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss',
  'preview': 'Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.'},
 {'title': 'NASA Perseverance Mars Rover Scientists Train in the Nevada Desert',
  'preview': "Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year."}]

### Space Image

In [8]:
url = "https://spaceimages-mars.com"
browser.visit(url)

In [9]:
button = browser.find_by_tag("button")[1]
button.click()

In [10]:
# html = broswer.html
soup_image = bs(browser.html, "html.parser")

In [11]:
image_url = soup_image.find('img', class_="fancybox-image").get("src")

image_url

'image/featured/mars2.jpg'

In [12]:
src_url = f'https://spaceimages-mars.com/{image_url}'
src_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [13]:
import pandas as pd

In [14]:
mars_df = pd.read_html("https://galaxyfacts-mars.com/")[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
mars_df.columns = ["description", "mars", "earth"]
mars_df.set_index("description", inplace=True)
mars_df

                                    mars            earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [16]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>mars</th>\n      <th>earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Hemispheres

In [17]:
hemisphere_url = "https://marshemispheres.com/"
browser.visit(hemisphere_url)

In [18]:
hemispheres = []
for item in range(4):
    #Click into image
    browser.find_by_css("a.product-item img")[item].click()
    #Get title
    title = browser.find_by_css('h2.title').text
    #Get image url
    element= browser.links.find_by_text("Sample").first
    image_url = element["href"]
    #Adding to dictionary
    hemisphere_dict = {}
    hemisphere_dict["title"] = title
    hemisphere_dict["img_url"] = image_url
    hemispheres.append(hemisphere_dict)
    browser.back()

In [19]:
hemispheres

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [20]:
browser.quit()